$primary-bg-light: #bc8027;
$primary-text-light: #f3b837;

$secondary-bg-light: #F9E4DD;
$secondary-text-light: #ffffff;

$black-text: #171717;
$search-color: #a5a5a5;

$font-main: 'Inter', sans-serif;
$font-logo: "Abril Fatface", sans-serif;